.nav1{
    background-color: #FCF8F3;
}
.header_logo{
    width: 7vw;
    height: 1.3vw;
}
#home{
    background-image: url("image/1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    min-height: 600px;
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #3f4814;
    --bs-btn-border-color: #212806;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #181e05;
    --bs-btn-hover-border-color: #303b01;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #303b01;
    --bs-btn-active-border-color: #1f2601;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #212806;
    --bs-btn-disabled-border-color: #212806;
}
